{{- $author := "Alex Bilson" -}}{{- if isset .Params "author" -}}{{- $author = .Params.author -}}{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="container">
    {{ partialCached "nav-bar.html" . }}

    <section class="container-center">
      <article class="log-entry h-entry">
	<div class="log-entry__content">{{- .Content -}}</div>

	{{ partial "comments.html" . }}
	{{ partial "attributes.html" . }}
      </article>
    </section>

    {{ partialCached "foot.html" . }}
</body>
</html>
