footer {
	margin-top: 10%;
	width: 80%;

	hr {
		color: var(--color-stroke);
	}

	.copyright {
		text-align: right;
		margin: 0;
		padding: 0;
	}

	.attribution {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
	}

}
