.style-bordered {
	border: 1px solid var(--color-stroke);
}

.style-circle-container {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
	:first-child {
		margin-left: 0px;
	}
}

.style-circle {
	border: 1px solid black;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 -25px;
}

.style-circle-background {
	background-color: var(--color-background);
}

.style-circle-stroke {
	background-color: var(--color-stroke);
}

.style-circle-headline {
	background-color: var(--color-headline);
}

.style-circle-paragraph {
	background-color: var(--color-paragraph);
}

.style-circle-link {
	background-color: var(--color-link);
}

