.attributes {
	border-top: 1px dashed var(--color-stroke);
	&__list {
		display: flex;
		flex-flow: column nowrap;
		list-style: none;
		padding-left: 0;
	}
	&__author {
		color: var(--color-aside);
	}
	> li + li {
		margin: 0 $base-size;
	}
	&__link + &__link {
		margin: 0 $base-size;
	}
	&__link:first-of-type {
		margin-left: $base-size;
	}
	&__link:last-of-type {
		margin-right: 0;
	}

	@media screen and (min-width: $phone-width) {
		&__list {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}
	}
}
