.backref-card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	&__attr {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: baseline;
	}
	&__title {
		color: var(--color-headline);
		margin-left: $base-size * 3;
	}
	&__link {
		display: block;
		text-decoration: none;
		padding-top: $base-size;
		width: $base-size * 6;
	}
	&__card + &__card {
		margin-top: $base-size * 3;
	}
	&__card {
		border: $base-size groove var(--color-stroke);
		padding: $base-size * 2;
	}
	&__content {
		> * {
			font-size-adjust: 0.4;
		}
	}
}
