.bible-entry {
	&__title {
		@include title-heading;
	}
	&__src {
		font-size: $font-lg;
		text-align: center;
		color: var(--color-aside);
	}
	&__version {
		font-style: italic;
	}
}

.bible-card {
	&__title {
		text-transform: capitalize;
		font-size: $font-lg;
		margin: 0;
	}
	&__link {
		text-decoration: none;
	}
	&__src {
		font-size: $font-sm;
		color: var(--color-aside);
		margin: 0;
	}
	&__version {
		font-style: italic;
	}
	&__summary {
		margin-top: $base-size * 3;
	}
}
