.garden-page {
	max-width: $base-size * 200;
	&__background {
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	&__link {
		font-family: "Times New Roman", Times, Georgia, "Ubuntu", serif;
	}
	@media screen and (min-width: $phone-width) {
		max-width: $base-size * 425;
	}
}

.garden {
	&__title {
		text-transform: capitalize;
		fill: var(--color-link);
		font-size: $font-sm;
	}
	&__icon {
		fill: var(--color-background);
		stroke: var(--color-stroke);
		stroke-width: 1px;
		stroke-dasharray: 1, 0.5;
	}
	@media screen and (min-width: $phone-width) {
		&__title {
			font-size: $font-sm / 2;
		}
	}
}
