.log-page {
	&__archive {
		margin-bottom: $base-size * 10;
	}

	&__archive-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	#on-this-day {
		border: $base-size solid var(--color-stroke);
		border-radius: $rounded-sm;
		padding: $base-size * 2;
	}
}

.log-entry {
	margin-top: 4%;
}

.log-card {
	display: flex;
	flex-flow: column nowrap;
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		min-width: 14%;
		list-style: none;
		margin-top: 0;
		padding-left: 0;
		> li {
			font-size: $font-sm;
		}
	}
	&__link {
		color: var(--color-aside);
		text-decoration: none;
	}
	&__content {
		> p {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	@media screen and (min-width: $phone-width) {
		display: flex;
		flex-flow: row nowrap;
		&__list {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			text-align: center;
		}
		&__content {
			max-width: unset;
		}
	}
}
