.plant-page {
	&__list {
		display: grid;
		grid-column-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
		list-style: none;
	}
	&__item {
		display: grid;
		grid-column-gap: $base-size * 3;
		grid-template-columns: 140px auto;
	}
	&__form {
		display: flex;
		flex-flow: row wrap;
		> * {
			margin: 5px;
		}
	}
	@media screen and (max-width: $breakpoint-sm) {
		&__form {
			flex-flow: column nowrap;
		}
	}
	@media screen and (max-width: $breakpoint-sm) {
		&__list {
			grid-column-gap: unset;
			grid-template-columns: 1fr;
		}
	}
}

.plant-entry {
	&__title {
		@include title-heading;
	}
}

.plant-card {
	display: grid;
	grid-column-gap: $base-size * 3;
	grid-template-columns: 140px auto;
	&__link {
		text-decoration: none;
		text-transform: capitalize;
	}
	&__attr {
		font-size: $font-sm;
		span + span {
			padding-left: $base-size;
		}
	}
	@media screen and (max-width: $breakpoint-lg) {
		display: flex;
		flex-flow: column nowrap;
	}
}
