.terms-page {
	&__terms {
		display: grid;
		grid-row-gap: 5px;
		grid-template-columns: repeat(5, auto);
		padding-top: $base-size * 8;

		@media screen and (max-width: $breakpoint-lg) {
			grid-template-columns: repeat(3, auto);
		}
		@media screen and (max-width: $breakpoint-sm) {
			grid-template-columns: 1fr;
		}
	}
	&__form {
		display: flex;
		flex-flow: row nowrap;
		> * {
			margin: 0 5px;
		}
		@media screen and (max-width: $breakpoint-sm) {
			&__form {
				flex-flow: column nowrap;
			}
		}
	}
}
