<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
{{- if .IsHome -}}
<body>
	<section class="home-page">
	<h1 class="title">Matthew Gonzales</h1>
	<p class="subtext">Director of Photography + Director</p>
	<p class="subtext">Available for hire at mattgon.tv (at) gmail (dot) com</p>
	</section>
</body>
{{- else -}}
<body class="container">

	{{- partialCached "menu.html" . -}}
	<section class="basic-page container-content">
	{{- with .Content -}}
		<div class="home-page__content">
		<p>{{- . -}}</p>
		</div>
	{{- end -}}

	<div class="basic-page__content">
	{{- range .Pages -}}
		{{- .Render "li" -}}
	{{- end -}}
	</div>
	</section>

	{{ partialCached "foot.html" . }}
	{{ partialCached "scripts.html" . }}
</body>
{{- end -}}
</html>
