{{- $title := .Title -}}{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
{{- $taxo := "tags" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="container">
  {{ partialCached "nav-bar.html" . }}
  <section class="container-center">
    <article class="stone-entry h-entry">
      <h1 class="stone-entry__title p-name">{{- $title -}}</h1>

      <!-- Adds tags to the post if they exist -->
      {{- if isset .Params $taxo -}}
        <div class="stone-entry__tags">
          {{- range $name := .Param $taxo -}}
            {{- with $.Site.GetPage (printf "/%s/%s" $taxo ( $name | urlize)) -}}
          <a class="stone-entry__link p-category" href="{{ .Permalink }}">{{- $name -}}</a>
            {{- end -}}
          {{- end -}}
        </div>
      {{- end -}}
      <a class="u-url" href="{{ .Permalink }}" hidden></a>
      <div class="stone-entry__content e-content">{{- .Content -}}</div>
      {{ partial "citation.html" . }}
  </article>
  {{ partial "backlink.html" . }}
  </section>

  {{ partialCached "foot.html" . }}
  {{ partialCached "scripts.html" . }}
</body>
</html>
