{{- $section := .Get "section" -}}
{{- $events := .Get "events" -}}
{{- $once := 1 -}}
<!-- creates a new event from a list

     the list format is:
     "year|desc^year|desc^year|desc"
-->
{{- range split $events "^" -}}
<div class="timeline__event">
  {{- if (and $once $section) -}}
    <span class="timeline__title">{{- $section -}}</span>
    {{- $once = 0 -}}
  {{- end -}}
  {{- $event := split . "|" -}}
  {{- $year := index $event 0 -}}
  {{- $desc := index $event 1 -}}
  <div class="timeline__text">
    <div class="timeline__attr">
      <div class="timeline__year">{{- $year -}}</div>
    </div>
    <p class="timeline__content">{{- $desc -}}</p>
  </div>
</div>
{{- end -}}
