.container {
	display: grid;
	// columns have two variable sidebar slots and fills the center
	grid-template-columns: [leftedge] 20% [leftbar] 80% [rightedge];
	grid-template-rows: [topedge] 100px [topbar] 1fr [bottombar] 100px [bottomedge];

	// centers cell contents by default
	place-items: center;

	// the center, absent both sidebars and header/footer
	&-menu {
		grid-column-start: leftedge;
		grid-column-end: leftbar;
		grid-row-start: topedge;
		grid-row-end: bottomedge;

		// start at the top
		align-self: start;
	}

	// all cells except the right sidebar and the footer
	&-content {
		grid-column-start: leftbar;
		grid-column-end: rightedge;
		grid-row-start: topedge;
		grid-row-end: bottombar;

		// start at the top
		align-self: start;
	}

	// along the bottom
	&-footer {
		grid-column-start: leftbar;
		grid-column-end: rightedge;
		grid-row-start: bottombar;
		grid-row-end: bottomedge;

		// start at the top
		align-self: flex-start;
	}

	@media screen and (max-width: $breakpoint-md) {
		// columns have two variable sidebar slots and fills the center
		grid-template-columns: [leftedge] [leftbar] 100% [rightedge];
		grid-template-rows: [topedge] 100px [topbar] 1fr [bottombar] 100px [bottomedge];

		&-menu {
			grid-column-start: leftedge;
			grid-column-end: rightedge;
			grid-row-start: topedge;
			grid-row-end: topbar;
		}

		&-content {
			grid-column-start: leftedge;
			grid-column-end: rightedge;
			grid-row-start: topbar;
			grid-row-end: bottombar;
		}

		&-footer {
			grid-column-start: leftedge;
			grid-column-end: rightedge;
			grid-row-start: bottombar;
			grid-row-end: bottomedge;
		}
	}
}
