.container {
	display: grid;
	// columns have two variable sidebar slots and fills the center
	grid-template-columns: [leftedge] 10% [leftbar] 90% [content] [rightedge];

	// centers cell contents by default
	place-items: center;

	// the center, absent both sidebars and header/footer
	&-menu {
		grid-column-start: leftedge;
		grid-column-end: leftbar;
	}

	// all cells except the right sidebar and the footer
	&-content {
		grid-column-start: leftbar;
		grid-column-end: rightedge;

		// start at the top
		align-self: start;
	}

	@media screen and (max-width: $breakpoint-lg) {
		// columns have two variable sidebar slots and fills the center
		grid-template-columns: [leftedge] 10% [leftbar] 90% [content] [rightedge];
	}

	@media screen and (max-width: $breakpoint-md) {
		// columns have two variable sidebar slots and fills the center
		grid-template-columns: [leftedge] 10% [leftbar] 90% [content] [rightedge];
	}
}
