@mixin hover-sm {
	filter: drop-shadow(
		($base-size / 4) ($base-size / 2) ($base-size / 2) var(--color-aside)
	);
	filter: drop-shadow(
		($base-size / 2) $base-size $base-size var(--color-aside)
	);
	filter: drop-shadow(
		$base-size ($base-size * 2) ($base-size * 2) var(--color-aside)
	);
}

@mixin hover-md {
	filter: drop-shadow(
		($base-size / 2) $base-size $base-size var(--color-aside)
	);
	filter: drop-shadow(
		$base-size ($base-size * 2) ($base-size * 2) var(--color-aside)
	);
	filter: drop-shadow(
		($base-size * 2) ($base-size * 4) ($base-size * 4) var(--color-aside)
	);
}

@mixin hover-lg {
	filter: drop-shadow(
		$base-size ($base-size * 2) ($base-size * 2) var(--color-aside)
	);
	filter: drop-shadow(
		$base-size ($base-size * 2) ($base-size * 2) var(--color-aside)
	);
	filter: drop-shadow(
		($base-size * 3) ($base-size * 6) ($base-size * 6) var(--color-aside)
	);
}
