:root {
	// minimal pallette
	--color-midnight: rgb(22, 22, 26);
	--color-eggshell: rgb(255, 255, 252);
	--color-royalty: rgb(39, 35, 67);
	--color-navy-blue: navy;
}
:root[color-mode="minimal"] {
	--color-background: var(--color-eggshell);
	--color-stroke: var(--color-midnight);

	--color-headline: var(--color-royalty);
	--color-paragraph: var(--color-midnight);
	--color-aside: var(--color-midnight);
	--color-link: var(--color-navy-blue);
}

// all sizes are multiples of this value
// to make sizing and alignment simple
$base-size: 3px;

$breakpoint-lg: 1200px;
$breakpoint-md: 900px;
$breakpoint-sm: 600px;

$laptop-width: 80em;
$phone-width: 40.063em;

$font-sm: $base-size * 4;
$font-md: $font-sm + 6;
$font-lg: $font-md + 12;
$font-xl: $font-lg + 18;

$font-family-condensed: "Ubuntu Condensed", Verdana, Geneva, sans-serif;
$font-family-regular: "Ubuntu", Georgia, "Times New Roman", Times, serif;
$font-family-mono: "Ubuntu Mono", monospace !important;

$screen-width-sm: 90%;
$screen-width-lg: 100%;

$rounded-sm: 0.3em;
