<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" color-mode="{{ .Site.Params.defaultColorMode }}">
{{ partialCached "head.html" . }}
<body class="container">
{{- partialCached "menu.html" . -}}

<section class="video-page container-content">

<div class="title"><a href="/"><h1 class="title">Matthew Gonzales</h1></a></div>

{{- with .Content -}}
	<p>{{- . -}}</p>
{{- end -}}

<div class="video-page__videos">
{{- range .Pages -}}
	{{- .Render "li" -}}
{{- end -}}
</div>
</section>

{{ partialCached "foot.html" . }}
{{ partialCached "scripts.html" . }}
</body>
</html>
