{{- $anchor := .File.BaseFileName -}}
{{- $path := strings.TrimSuffix ".md" (printf "/%s" .File.Path) -}}
{{- $response := getJSON "http://chaos-theme-service/backrefs" -}}
{{- $backlinkjs := resources.Get "js/backlink.js" -}}

{{- range $backlink, $backrefs := $response.results -}}
  {{- if eq $path $backlink -}}
  <h3>Backlinks</h3>
  <div class="backref-card">
    {{- range $backrefs -}}
    <div class="backref-card__card">
      <div class="backref-card__attr">
        <a class="backref-card__link" href="{{ $.Site.BaseURL }}{{ . }}/#{{ $anchor }}">⚓</a>
        <span class="backref-card__title">{{- humanize (path.Base .) -}}</span>
      </div>
    </div>
    {{- end -}}
  </div>
  {{- end -}}
{{- end -}}

<!-- adds event handler to preview backlinks -->
<script src="{{ $backlinkjs.Permalink }}"></script>
