<!-- Company Card -->
<div class="post-body next-card business-card-container"><a name="card"></a>

  <div class="business-card-info h-card">
    <img class="u-photo" src="{{ "img/selfie.jpg" | absURL | safeCSS }}" />
    <a class="p-name u-url" style="display: none;" href="https://alexbilson.dev">Alex Bilson</a>
    <a class="u-email" href="mailto:acbilson@gmail.com">acbilson@gmail.com</a><br />
    <span class="p-locality">Chicago, IL</span>,
    <span class="p-country-name">United States</span>
  </div>

  <div class="business-card-text">
    <p>Does technology intimidate you? Do you wish that you had a coach who'll build your confidence? A consultant
      to show you what's possible and integrate your business with the digital community? An analyst who'll
      protect
      your digital real estate and optimize your business processes?</p>

    <p>Translating technological chaos into orderly tools for business owners and managers is my passion. <a href="mailto:acbilson@gmail.com">Email me</a> to schedule your first experience.</p>

    <div class="card-subtext">
      <p>
        <a class="external" href="https://github.com/acbilson" rel="me authn">Alex on Github </a>
      </p>
      <p>
        <a class="external" href="https://www.linkedin.com/in/alexander-bilson-21089b35/" rel="me"> Alex on LinkedIn</a>
      </p>
      <p>
      <a rel="me" class="external" href="https://mastodon.technology/@acbilson">Alex on Mastodon</a>
      </p>
    </div>
  </div>

</div>
