<footer class="container-footer">
	<div class="social">

		<a href="https://www.youtube.com/c/MatthewGonzales1">
			<picture>
			<source media="(min-width:900px)" srcset="/svg/icons8-youtube-100(@2x).png">
			<img src="/svg/icons8-youtube-50(@1x).png" alt="youtube" style="width: auto;">
			</picture>
		</a>

		<a href="https://www.instagram.com/matthewashere/">
			<picture>
			<source media="(min-width:900px)" srcset="/svg/icons8-instagram-100(@2x).png">
			<img src="/svg/icons8-instagram-50(@1x).png" alt="instagram" style="width: auto;">
			</picture>
		</a>

		<a href="_blank">
			<picture>
			<source media="(min-width:900px)" srcset="/svg/icons8-linkedin-100(@2x).png">
			<img src="/svg/icons8-linkedin-50(@1x).png" alt="linkedin" style="width: auto;">
			</picture>
		</a>

		<a href="_blank">
			<picture>
			<source media="(min-width:900px)" srcset="/svg/icons8-pinterest-100(@2x).png">
			<img src="/svg/icons8-pinterest-50(@1x).png" alt="pinterest" style="width: auto;">
			</picture>
		</a>

		<a href="https://www.facebook.com/FireWithinFIlms">
			<picture>
			<source media="(min-width:900px)" srcset="/svg/icons8-facebook-100(@2x).png">
			<img src="/svg/icons8-facebook-50(@1x).png" alt="facebook" style="width: auto;">
			</picture>
		</a>
	</div>
	<hr />
	<ul class="attribution">
		<li>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></li>
		<li class="copyright">&#169; 2020, Alex Bilson</li>
	</ul>
</footer>
