{{ $lunrjs := resources.Get "js/lunr.js" }}
{{ $searchjs := resources.Get "js/search.js" }}

<script>
window.store = {
    // You can specify your post section only:
    {{ range where .Site.RegularPages "Section" "in" ("plants logs") }}
	{{- $title := .Title -}}
		{{ if eq .Type "logs" }}
			{{ $title = .Date.Format "Jan 2, 2006" }}
		{{ else }}
			{{- if eq $title "" -}}{{- $title = humanize .File.BaseFileName -}}{{- end -}}
		{{ end }}
    // For all pages in your site, use "range .Site.Pages"
    // You can use any unique identifier here
    "{{ .Permalink }}": {
        // You can customize your searchable fields using any .Page parameters
	"title": "{{ $title }}",
        "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        "content": {{ .Content | plainify }}, // Strip out HTML tags
        "url": "{{ .Permalink }}"
    },
    {{ end }}
}
</script>
<!-- Include Lunr and code for your search function,
which you'll write in the next section -->
<script src="{{ $lunrjs.Permalink }}"></script>
<script src="{{ $searchjs.Permalink }}"></script>
